:root {
  --main-cart-color: #e86f68;
}

body {
  background-color: black;
  font-family: "Architects Daughter";
}

.main-container {
  grid-template-columns: 50% 50%;
  display: grid;
  grid-template-rows: 10% 20% 400px;
}

.navContainer {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: whitesmoke;
  font-size: 2.7em;
  margin: 0.5em;
}

.links a {
  margin: 1em;
  color: #00ffff;
  text-decoration: none;
  font-size: 1.4em;
}

.links a:hover {
  color: lightgrey;
}

.cart {
  padding: 5px 18px 5px 18px;
  border-radius: 3px;
  background-color: var(--main-cart-color);
}

.cart:hover {
  background-color: rgb(166, 85, 85);
}

.secondContainer {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 50%);
}

.secondContainer .grid1 {
  grid-column-start: 1;
  text-align: center;
}

.secondContainer .grid2 {
  grid-column-start: 2;
  justify-self: center;
}

.secondContainer h1,
p {
  text-align: center;
  color: whitesmoke;
  font-size: 25px;
}

.secondContainer .btn {
  padding: 10px 25px;
  background-color: #0ba9a9;
  color: whitesmoke;
  border-radius: 5px;
  text-decoration: none;
}

.secondContainer .btn:hover {
  background-color: #2dacac;
}

.secondContainer img {
  border-radius: 5px;
  width: 100%;
  max-width: 400px;
  height: auto;
}

.products h1,
p {
  text-align: center;
  color: whitesmoke;
  margin: 1em;
}

.mainContainer {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 20% 40% 40%;
}

.products {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 2;
}

.item1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
}

.item2 {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
}

.item3 {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 3;
  grid-row-end: 3;
}

.item4 {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 3;
}

.itemsLayout {
  min-width: 330px;
  display: grid;
  grid-template-columns: 40% 30% 30%;
  border: 2px solid #00ffff;
  border-radius: 25px;
  align-self: start;
  justify-self: center;
  background-color: rgba(23, 12, 12, 0.705);
  position: relative;
}

.itemsBtn {
  background-color: #1d5b5b;
  color: white;
  width: 80px;
  height: 40px;
  border-style: none;
  border-radius: 10px;
  align-self: end;
  justify-self: center;
  margin-bottom: 15px;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  cursor: pointer;
}

.cartContainer {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 2;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(4, 25%);
  overflow: hidden;
  transition: border 0.5s, border-radius 0.8s, visibility, 0.5s;
  border: 3px solid black;
  visibility: hidden;
}

.cartContainer p {
  align-self: center;
}

.cartContainerFocus {
  visibility: visible;
  border: 3px solid var(--main-cart-color);
  border-radius: 10px;
}

.closeBtn {
  color: whitesmoke;
  display: none;
  position: absolute;
  top: 3%;
  right: 6%;
  font-size: 1.7em;
  cursor: pointer;
}

.centerDivs {
  align-self: center;
}

.hideBtn {
  display: none;
}
.showBtn {
  display: block;
}

@media screen and (max-width: 710px) {
  .secondContainer h1,
  p {
    font-size: 16px;
    margin: 1em;
    text-align: left;
  }

  .cartContainer {
    display: none;
  }

  .secondContainer .btn {
    text-align: right;
  }

  .main-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
  }
  .navContainer {
    margin-bottom: 1em;
  }
  .secondContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    margin: 1em;
  }

  .mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5em;
  }
}

td,
th {
  color: white;
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.table-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.pay-btn {
  width: 100px;
  height: 40px;
  color: white;
  background-color: #e86f68;
  border-radius: 5px;
  border: none;
}

.pay-btn:hover {
  cursor: pointer;
}
